<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="icon" type="image/png" href="../../assets/images/favicon.png">

    <title>Sign Up Page</title>

</head>
<body class="bg-green display-center-center bg-1">

    <div class="small-container display-center-center">
        <div class=" display-center-center">
            <img src="../../assets/images/monkey-01.png" style="width: 150px;">

            <input type="text" name="username" id="username" placeholder="USER NAME" class="mt-1" >
            <input type="password" name="C-Password" id="C-Password" placeholder="CONFORM PASSWORD" class="mt-1">
            <input type="password" name="Password" id="Password" placeholder="PASSWORD" class="mt-1">
            <input type="email" name="email" id="email" placeholder="EMAIL" class="mt-1">

            <a href="../../views/auth/signup.html" class="btn btn-secondary mt-1">SIGN UP</a>
            <a href="../../views/startup.html" class="btn btn-dark mt-3">GO BACK</a>
        </div>
    </div>

    <!--Background Video-->
    <video id="background-video" autoplay loop muted poster="">
        <source src="../../assets/images/bg.mp4" type="video/mp4">
    </video>
    
</body>
</html>