<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="icon" type="image/png" href="../../assets/images/favicon.png">

    <title>Game Page</title>

</head>
<body class="bg-green display-center-center bg-1">

    <div class="long-row">
        <p class="sm-btn" style="background-color: #ffffff;color: rgb(0, 0, 0);width: 290px;">Hint</p>
        <img src="../../assets/images/Logo.png" style="width: 8vw;">
        <div class="row"> 
            <p class="sm-btn" style="background-color: #F8D45C;color: white; margin-right: 10px;">Hint</p>
            <p class="sm-btn" style="background-color: #FF5454;color: white;">Hint</p>
        </div>
    </div>

    <div class="large-container display-center-center mt-1">
        <p>Time</p>
        <h1 class="mt-3">WDRSFD</h1>
        <p class="mt-2">Hint</p>
        <input type="text" name="checkword" id="checkword" placeholder="Can you unscramble this?" class="mt-4">

        <div class="sm-row">
            <a href="../../views/game/home.html" class="sm-btn btn-secondary mt-1">NEXT WORD</a>
            <a href="../../views/game/home.html" class="sm-btn btn-primary mt-1">CONFORM !</a>
        </div>

        <div class="row mt-3">
            <img src="../../assets/images/monkey-01.png" style="width: 50px;">
            <p class="mt-2">Out of lives? Win some bananas!</p>
        </div>
    </div>

    <a href="../../views/game/home.html" class="sm-btn btn-dark mt-2">GO BACK</a>

    <!--Background Video-->
    <video id="background-video" autoplay loop muted poster="">
        <source src="../../assets/images/bg.mp4" type="video/mp4">
    </video>

</body>
</html>